body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.header {
  height: 20em;
  padding: 5em;
  background-image: url("../imgs/sean-whelan-7PxYcuq95uY-unsplash.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 2.5em;
  margin: 0em;
  color: rgb(192, 192, 192);
  border: solid 1px #ddd;
}

.header h1 {
  font-size: 6em;
  padding: 0em;
  margin: 0em;
}

.header p {
  font-size: 2em;
  padding: 0.5em;
  margin: 0em;
}

.products {
  width: 80%;
  margin: 10em;
  font-weight: 900;
}

.products td {
  width: 50%;
  padding: 2em;
  text-align: center;
  color: rgb(98, 98, 98);
}

.products img {
  width: 100%;
  border: solid 1px #ddd;
}

footer {
  height: auto;
  padding: 1em;
  background-color: rgb(240, 240, 240);
  color: rgb(192, 192, 192);
  text-align: center;
}

footer h3 {
  font-size: 1.3em;
  font-weight: 900;
  padding: 0em;
  margin: 0em;
}

footer p {
  font-size: 1em;
  font-weight: 450;
  margin: 0em;
}
